<a href="https://colab.research.google.com/github/rohitjaiswalrj32/Python-Practice/blob/main/Data_Structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Data Structures: Data structures are containers used to store, organize, and manipulate data efficiently.
                   #In Python, the built-in data structures are:

# 1. List
# 2. Tuple
# 3. Set
# 4. Dictionary

In [16]:
#List:


#Characterstics:

#Ordered (indexable).
#Immutable — once created, cannot be changed.
#Allows duplicates.
#Faster than lists due to immutability.
#Defined using square brackets [].

#Example:
fruits = ["apple", "banana", "cherry"]
print(fruits[1])

#Common Methods:

# Add at end
fruits.append("orange")

# Add at specific index
fruits.insert(1, "mango")

# Remove an item
fruits.remove("banana")

# Remove last item
fruits.pop()

# Sort list
fruits.sort()

# Reverse order
fruits.reverse()

# Count elements
print(len(fruits))

# Check membership
print("apple" in fruits)

# Remove all items
fruits.clear()

print(fruits)

#When to Use:

#When order matters.
#When you need to change data frequently (add, remove, modify).

banana
3
True
[]

In [17]:
#Tuple:

#Characteristics:

#Ordered (indexable).
#Immutable — once created, cannot be changed.
#Allows duplicates.
#Faster than lists due to immutability.
#Defined using parentheses ().

#Example:
dimensions = (20, 40, 60)
print(dimensions[0])

# dimensions[0] = 30 → ❌ Not allowed, tuples are immutable

#When to Use:

#When data should not change (e.g. coordinates, constants).
#When performance and safety are priorities.

20

In [19]:
#Set:

#Characteristics:

#Unordered — no index or position.
#Unchangeable items (but you can add/remove).
#No duplicates allowed.
#Defined using curly braces {}.

#Example:
colors = {"red", "green", "blue"}
colors.add("yellow")
colors.remove("green")
print("red" in colors)

print(colors)

a = {1, 2, 3}
b = {3, 4, 5}

print(a.union(b))
print(a.intersection(b))
print(a.difference(b))


#When to Use:

#To eliminate duplicates.
#For fast membership testing.
#For mathematical set operations (union, intersection, etc).

True
{'red', 'blue', 'yellow'}
{1, 2, 3, 4, 5}
{3}
{1, 2}

In [21]:
#Dictionary

#Characteristics:

#Unordered (ordered since Python 3.7), mutable.
#Keys must be unique and immutable (strings, numbers, tuples).
#Values can be anything.
#Defined using curly braces {key: value}.

#Example:
student = {"name": "Rohit", "age": 22}

# Access value by key
print(student["name"])

# Update value
student["age"] = 23

# Add new key-value
student["city"] = "Delhi"

# Delete key-value pair
del student["city"]

# All keys
print(student.keys())
# All values
print(student.values())


#When to Use:

#When data is labeled (like fields of a student).
#When fast lookups by key are needed.

Rohit
dict_keys(['name', 'age'])
dict_values(['Rohit', 23])

In [30]:
#List Exercises

# Q1. Create a list of 5 favorite movies and print the third one.
fav_movies = ["Inception", "UP", "Avengers", "Home Alone", "Gladiator"]
print(fav_movies[2])

# Q2. Add a new movie to the end of the list.
fav_movies.append("KGF")
print(fav_movies)

# Q3. Replace the second movie with another.
fav_movies[1] = "Parasite"
print(fav_movies)

# Q4. Remove the last movie from the list.
fav_movies.pop()
print(fav_movies)

# Q5. Sort the list in alphabetical order.
fav_movies.sort()
print(fav_movies)

Avengers
['Inception', 'UP', 'Avengers', 'Home Alone', 'Gladiator', 'KGF']
['Inception', 'Parasite', 'Avengers', 'Home Alone', 'Gladiator', 'KGF']
['Inception', 'Parasite', 'Avengers', 'Home Alone', 'Gladiator']
['Avengers', 'Gladiator', 'Home Alone', 'Inception', 'Parasite']

In [40]:
#Tuple Exercises

# Q1. Create a tuple of 4 cities.
city = ("Delhi", "Mumbai", "Banglore", "Chennai")
print(city)

# Q2. Print the second city.
print(city[1])

# Q3. Try changing one city value and observe the result.

#city[1] = "Pune"
#print(city)

#Note: Its immutable so, cannot change elements of tuple.
       #It will throw an error "TypeError: 'tuple' object does not support item assignment"

# Q4. Find the length of the tuple.
print(len(city))

# Q5. Convert the tuple to a list and append a new city.
city_list = list(city)
city_list.append("Pune")
print(city_list)

('Delhi', 'Mumbai', 'Banglore', 'Chennai')
Mumbai
4
['Delhi', 'Mumbai', 'Banglore', 'Chennai', 'Pune']

In [48]:
#Set Exercises

# Q1. Create a set of 5 fruits.
fruits = {"apple", "orange", "pineapple", "watermelon", "kiwi"}
print(type(fruits))
print(fruits)


# Q2. Add a new fruit.
fruits.add("mango")
print(fruits)

# Q3. Try adding a duplicate fruit — does it appear?
fruits.add("apple")
print(fruits)

#Note: Since, Set does not allow duplicate values/elements. so even if i add duplicate value, it won't show in output.

# Q4. Remove a fruit.
fruits.remove("pineapple")
print(fruits)

# Q5. Check if "apple" is in the set.
print("apple" in fruits)

<class 'set'>
{'orange', 'apple', 'kiwi', 'pineapple', 'watermelon'}
{'orange', 'apple', 'kiwi', 'pineapple', 'mango', 'watermelon'}
{'orange', 'apple', 'kiwi', 'pineapple', 'mango', 'watermelon'}
{'orange', 'apple', 'kiwi', 'mango', 'watermelon'}
True

In [61]:
#Dictionary Exercises

# Q1. Create a dictionary with keys: name, age, and city.
students = {"name" : "Rohit", "age" : 25, "city" : "Varanasi"}
print(students)

# Q2. Print the value of name.
print(students["name"])

# Q3. Add a new key college with your college name.
students["college"] = "Chandigarh University"
print(students)

# Q4. Change the value of age.
students["age"] = 24
print(students)

# Q5. Remove the city key.
students.pop("city")
print(students)

# Q6. Print all keys and all values.
print(students.keys())
print(students.values())

{'name': 'Rohit', 'age': 25, 'city': 'Varanasi'}
Rohit
{'name': 'Rohit', 'age': 25, 'city': 'Varanasi', 'college': 'Chandigarh University'}
{'name': 'Rohit', 'age': 24, 'city': 'Varanasi', 'college': 'Chandigarh University'}
{'name': 'Rohit', 'age': 24, 'college': 'Chandigarh University'}
dict_keys(['name', 'age', 'college'])
dict_values(['Rohit', 24, 'Chandigarh University'])