<a href="https://colab.research.google.com/github/rohitjaiswalrj32/Python-Practice/blob/main/Operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 1. Arithmetic Operators

Num1 = int(input("Enter First Number: "))
Num2 = int(input("Enter Second Number: "))

In [7]:
#Addition
print("Sum:", Num1 + Num2)

#Substraction
print("Substraction:", Num1 - Num2)

#Multiply
print("Multiplication:", Num1 * Num2)

#Division
print("Division:", Num1 / Num2)

#Floor Division
print("Floor Division:", Num1 // Num2)

#Modulo
print("Modulus:", Num1 % Num2)

#Exponent
print("Exponent:", Num1 ** Num2)

Sum: 17
Substraction: 7
Multiplication: 60
Division: 2.4
Floor Division: 2
Modulus: 2
Exponent: 248832

In [8]:
# 2. Comparision Operators

#Equality
print("Equal to:", Num1 == Num2)

#Not-Equal
print("Not Equal to:", Num1 != Num2)

#Greater than
print("Greater than:", Num1 > Num2)

#Less than
print("Less than:", Num1 < Num2)

#Greater or Equal-to
print("Greater than or equal to:", Num1 >= Num2)

#Less than or Equal-to
print("Less than or equal to:", Num1 <= Num2)

Equal to: False
Not Equal to: True
Greater than: True
Less than: False
Greater than or equal to: True
Less than or equal to: False

In [9]:
# 3. Logical Operators

#AND
print("AND:", Num1 > Num2 and Num1 < Num2)

#OR
print("OR:", Num1 > Num2 or Num1 < Num2)

#NOT
print("NOT:", not(Num1 > Num2 and Num1 < Num2))

AND: False
OR: True
NOT: True

In [11]:
# 4. Assignment Operators

# Add Assignment
Num1 += 5
print("Add Assignment:", Num1)

# Subtract Assignment
Num1 -= 3
print("Subtract Assignment:", Num1)

# Multiply Assignment
Num1 *= 2
print("Multiply Assignment:", Num1)

# Divide Assignment
Num1 /= 4
print("Divide Assignment:", Num1)

# Floor Divide Assignment
Num1 //= 3
print("Floor Divide Assignment:", Num1)

# Modulus Assignment
Num1 %= 2
print("Modulus Assignment:", Num1)

# Exponent Assignment
Num1 **= 3
print("Exponent Assignment:", Num1)

Add Assignment: 5.0
Subtract Assignment: 2.0
Multiply Assignment: 4.0
Divide Assignment: 1.0
Floor Divide Assignment: 0.0
Modulus Assignment: 0.0
Exponent Assignment: 0.0

In [12]:
# 5. Membership Operators

In: True
In: True

In [15]:
# IN Membership Operator

# String example
name = "Rohit Jaiswal"
print("In:", 'J' in name)

# List example
fruits = ["apple", "banana", "cherry"]
print("In:", "banana" in fruits)

In: True
In: True

In [20]:
# NOT IN Membership Operator

# String example
name = "Rohit Jaiswal"
print("Not In:", 'e' not in name)

# List example
fruits = ["apple", "banana", "cherry"]
print("Not In:", "orange" not in fruits)

#Note: It is case-sensitive. It can only find exact match which include upper and lower case.

Not In: True
Not In: True